.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
vender/
log/
composer.lock
gitpush.sh
pkg/
bin/
cbuild
*/.DS_Store
main
.vscode
config/config.toml
tmp/
app/service/serverchan/chanid.txt
config/config.toml.example
script/template_fill/out/
script/template_fill/config.toml
script/template_make/out/
script/template_make/config.toml
